google-cloud-aiplatform[agent_engines,adk]>=1.112
PyMuPDF
Pillow
pytesseract
pandas
python-pptx
google-cloud-documentai
google-cloud-vision
google-cloud-storage
google-api-core
python-docx
extract-msg
db-dtypes
pydantic==2.11.7
cloudpickle==3.1.1
google-generativeai